@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;

.list-container {
  margin-bottom: $spacing-05;
}

.list-header {
  padding-top: $spacing-04;
  padding-bottom: $spacing-04;
}

.heading {
  //   @include type-style("heading-04");
}

.sub-heading {
  //   @include type-style("heading-03");
}
