@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/breakpoint" as *;

.score {
  padding: $spacing-03 0;
}

.total {
  padding: $spacing-03 0;
}

.button-container {
  display: grid;
  gap: $spacing-04;
}
