@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/theme" as *;
@use "./mixins.scss" as *;
@use "./overrides.scss";

.landing-page {
  height: 100%;
  align-content: space-between;

  &__heading {
    @include type-style("productive-heading-07");
  }

  &__subheading {
    @include type-style("heading-03");
    margin-top: $spacing-02;
    margin-bottom: $spacing-02;
    @include breakpoint-down(md) {
      padding-top: $spacing-04;
    }
  }

  &__middle {
    // @include landing-page-background;
    @include type-style("productive-heading-03");

    &__row {
      margin: $spacing-06;
      &__block {
        margin: $spacing-06 0;

        &__item {
          padding: $spacing-02 0;
        }
      }

      > p {
        margin-top: $spacing-02;
        margin-bottom: $spacing-02;
      }
    }
  }

  &__footer {
    padding-top: $spacing-06;
    padding-bottom: $spacing-03;
    grid-row-start: third-line last-line;

    &__link {
      padding-top: $spacing-06;
      &:not(:first-child) {
        text-align: center;
      }
      @include breakpoint-down(md) {
        text-align: center;
        padding-top: $spacing-02;
      }
    }
  }
}
