@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/theme" as *;
@use "./mixins.scss" as *;
@use "./overrides.scss";
.landing-page {
  // grid-template-rows: 1fr auto minmax(10px, max-content);
  height: 100%;
  align-content: space-between;
}

.landing-page__heading {
  @include type-style("productive-heading-07");
}

.landing-page__subheading {
  @include type-style("heading-03");
  margin-top: $spacing-02;
  margin-bottom: $spacing-02;
}

.landing-page__middle {
  // @include landing-page-background;
  @include type-style("productive-heading-03");
}

.landing-page__middle-row {
  margin: $spacing-06;
  p {
    margin-top: $spacing-02;
    margin-bottom: $spacing-02;
  }
}

.landing-page__footer {
  padding-top: $spacing-04;
  grid-row-start: third-line last-line;
}

.landing-page__footer__link {
  &:not(:first-child) {
    text-align: center;
  }
  @include breakpoint-down(md) {
    text-align: center;
  }
  padding-top: $spacing-06;
}
