/* App styles */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

/* navbar */
.navbar {
  background: black;
  color: white;
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100vw;
}

.brand-name {
  font-size: 2.5rem;
  padding-left: 3vw;
  color: white;
}

.nav-links {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links li {
  color: white;
  font-size: 1.3em;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .brand-name {
    font-size: 1.5rem;
  }
  .nav-links li {
    font-size: 1rem;
  }
}

/* DropArea */
.upload-form {
  margin: 0 auto;
  min-width: 40vw;
  min-height: max-content;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
}

.upload-form div {
  margin: 2vh 0;
}

.upload-form div label {
  text-align: left;
  display: block;
  font-size: 1.25em;
  padding: 0.3em 0;
}

.upload-form textarea {
  font-size: 1rem;
  outline: none;
  box-shadow: none;
}

.file-input {
  cursor: pointer;
}

/* Form */
.login-input {
  padding: 1em 2em;
  width: 100%;
}

.login-button {
  width: 100%;
  margin-top: 0.5em;
  padding: 0.3em 2em;
  font-size: 1.15em;
  background: black;
  color: white;
}

.login-button:hover {
  background: rgb(29, 29, 29);
}

/* ViewButton */
.view-button {
  background: rgb(255, 0, 0);
  color: white;
  padding: 1vw 1.5vw;
  border: none;
  box-shadow: -3px -2px 5px 1px black;
}
.view-button:hover {
  cursor: pointer;
  background: rgb(255, 0, 0);
}

.view-button:active {
  box-shadow: -2px -2px 5px 1px black;
}

/* footer */
footer {
  font-size: 1rem;
}
footer p a {
  text-decoration: none;
}
