@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;
@use "./overrides.scss";

.list-container {
  padding-top: $spacing-03;
  padding-bottom: $spacing-03;
  & * {
    margin-left: 0;
  }
}

.list {
  list-style: none;
}

.list-item {
}
